/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#0f172a;
}

/* SEARCH */
.search-box{
text-align:center;
margin-top:20px;
}

input{
padding:15px;
width:300px;
border:none;
border-radius:10px;
}

button{
padding:15px 25px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
cursor:pointer;
}

/* POPULAR */
.top-search{
text-align:center;
margin-top:20px;
}

.top-search span{
background:#22c55e;
padding:8px 12px;
margin:5px;
border-radius:8px;
cursor:pointer;
}

/* CARDS */
.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:50px;
flex-wrap:wrap;
}

/* CARD */
.card{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:20px;
width:250px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 25px rgba(34,197,94,0.6);
}

/* IMAGE */
.card img{
width:100%;
border-radius:15px;
margin-bottom:10px;
}

/* TEXT */
.price{
color:#22c55e;
}

.rating{
color:gold;
}