body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#020617,#0f172a);
    color:white;
    text-align:center;
}

header{
    padding:20px;
    font-size:22px;
    font-weight:bold;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

.container{
    margin-top:60px;
}

h1{
    font-size:42px;
    margin-bottom:30px;
}

/* Search box */
.search-box input{
    padding:15px;
    width:350px;
    border:none;
    border-radius:12px;
    font-size:16px;
    outline:none;
}

/* Cards layout */
.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:50px;
    flex-wrap:wrap;
}

/* Card design */
.card{
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:18px;
    width:220px;
    backdrop-filter: blur(15px);
    transition:0.4s;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow:0 0 25px rgba(34,197,94,0.5);
}

/* Image */
.card img{
    width:100%;
    border-radius:12px;
    margin-bottom:10px;
}

/* Text */
.price{
    color:#22c55e;
    font-weight:bold;
}

.rating{
    color:gold;
}

/* Loader */
.loader{
    display:none;
    margin-top:20px;
}

.spinner{
    border:4px solid rgba(255,255,255,0.2);
    border-top:4px solid #22c55e;
    border-radius:50%;
    width:40px;
    height:40px;
    margin:auto;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}