body{
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg, #0f172a, #020617);
    color:white;
    text-align:center;
}

header{
    padding:20px;
    font-size:24px;
    font-weight:bold;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

.container{
    margin-top:60px;
}

input{
    padding:15px;
    width:300px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:16px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
    flex-wrap:wrap;
}

.card{
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:16px;
    width:220px;
    backdrop-filter: blur(10px);
    transition:0.3s;
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
}

.price{
    color:#22c55e;
    font-weight:bold;
}

.rating{
    color:gold;
}

/* Loader */
.loader{
    display:none;
    margin-top:20px;
}

.spinner{
    border:4px solid rgba(255,255,255,0.2);
    border-top:4px solid #22c55e;
    border-radius:50%;
    width:40px;
    height:40px;
    margin:auto;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}